apiVersion: v1
kind: Service
metadata:
  name: {{ include "generic.fullname" . }}
  labels:
    {{- include "generic.labels" . | nindent 4 }}
  annotations:
    {{- include "generic.annotations" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: {{ .Values.service.name }}
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
    {{- if .Values.service.otherPorts }}
    {{- toYaml .Values.service.otherPorts | nindent 4 }}
    {{- end }}
  selector:
    {{- include "generic.selectorLabels" . | nindent 4 }}
