# Test PodDisruptionBudget
replicaCount: 3

image:
  repository: nginx
  tag: "1.25"

podDisruptionBudget:
  enabled: true
  minAvailable: 2

service:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP

pod:
  ports:
    - name: http
      containerPort: 80
      protocol: TCP
